
.product-box{
    width: 300px;
    overflow: hidden;
    max-height: 470px;
    padding: 10px;
    background-color: white ;
    box-shadow:0px 7px 29px 0px rgba(0,0,0, 0.3);
}

.product-box img{
    width: 100%;
    object-fit: cover;
    
}
.description{
    margin-top: 10px;

     
}
.description h2{
    font-size: 27px;
    color: #333;
}
.price{
    margin: 5px 0px;
    font-weight: bold;
    color: red;
    font-size: 19px;
}
.description .pg{
    font-size: 15px;
   
}
.description .btn{
    margin-top: 20px;
    outline: none;
    border: 1px solid red;
    padding: 12px 40px;
    border-radius: 40px;
    background-color: none;
    color: rgb(156, 9, 9,);
    font-weight: bold;
    cursor: pointer;
}
.description .btn:hover{
  background-color: hsl(14deg 81.34% 50.46%);

}